{% include './partials/header.twig' %}

    <div class="container">
        <div class="form">
            <h2>Me contacter</h2>
            <form>
                <div class="inputBox">
                    <input type="text" name="" placeholder="Email"/>
                </div>
                <div class="inputBox">
                    <input type="text" name="" placeholder="Message"/>
                </div>
                <div class="inputBox">
                    <input type="submit" value="Envoyer"/>
                </div>
            </form>
        </div>
    </div>

{% include './partials/footer.twig' %}