{% include './partials/header.twig' %}
    <h1 class="titre">Portfolio</h1>
    <h2 class="nom">Colin Loury</h2>
    <h3 id="soustitre">Développeur informatique</h3>
    <img id="photopres" src="photo.jpg" alt="" />
    <a href="./CV.pdf">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        CV
    </a>
{% include './partials/footer.twig' %}