<html>
    <head>
        <title>Portfolio</title>
        <base href="/">
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <div id="menu">
                <nav>
                    <a href="/">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Accueil
                    </a>
                    <a href="/mesExp">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Mon parcours
                    </a>
                    <a href="/competence">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Mes compétences
                    </a>
                    <a href="/contact">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Contact
                    </a>
                    <a href="/a-propos">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        A propos
                    </a>
                </nav> 
            </div> 
    </body>
</html>