<html>
    <head>
        <title>Mon App</title>
        <base href="/">
        <link href="style.css" rel="stylesheet">
    </head>
    <body class="{{mode}}">
        <div id="app">
        <nav>
            <a href="/">Accueil</a>
            <a href="/a-propos">A propos</a>
            <a href="/equipe">Equipe</a>
            <a href="/classe">Classe</a>
            <a id="change">Change !</a>
            <a style="backroung:#bf2216" href="/velov">API Velo'v</a>
        </nav>  
    </body>
</html>