<html>
    <head>
        <title>Mon App</title>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">
        <nav>
            <a href="/">Accueil</a>
            <a href="/a-propos">A propos</a>
            <a href="/equipe">Equipe</a>
        </nav>    
    </body>
</html>